/* Adding style and position for order online component */

.app__orderOnline {
    position: relative;
}


/* Adding style and position for header section */

.orderOnline__header {
    height: 150px;
    width: 0;
}


/* Adding style and position for body section */

.orderOnline__body {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 1000px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 100%;
}


/* Adding style and position for order menu content box */

.app__orderOnline-content {
    justify-self: center;
    margin: 40px 0;
    width: 90%;
    height: auto;
    background-color: var(--color-white);
}

.app__orderOnline-content-header {
    margin: 40px 0 29px 0;
}

.app__orderOnline-content-header .p__dancing {
    font-size: 30px;
    color: var(--color-orange);
    text-align: center;
}

.app__orderOnline-content-body {
    padding: 20px;
}


/* Adding style and position for pick up option */

.app__orderOnline-content-pickup {
    padding-bottom: 20px;
}

.app__orderOnline-content-pickup_time {
    display: inline-block;
    cursor: pointer;
    padding: 8px 16px;
    border: 1px solid var(--color-green);
    background-color: var(--color-white);
}

.app__orderOnline-content-pickup_time:hover {
    background-color: #ECECEC;
}

.app__orderOnline-content-pickup_time button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding-left: 10px;
}

.app__orderOnline-content-pickup_button.p__normal-text {
    text-decoration: underline;
    cursor: pointer;
}

.app__orderOnline-content-pickup_button.p__normal-text:hover {
    opacity: 0.5;
}


/* Adding style and position for sub menu nav bar */

.app__orderOnline-content-subNav {
    top: 200px;
    position: sticky;
    /* z-index: 3; */
}

.app__orderOnline-content-subNav_menu {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border-bottom: 1px solid rgba(16, 132, 111, 0.2);
    background-color: var(--color-white);
}

.app__orderOnline-content-subNav_menu .p__normal-text {
    font-size: 16px;
}

.app__orderOnline-content-menu_dropdown {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.orderOnline__menu-dropdown {
    min-width: 200px;
    max-width: 100%;
    position: relative;
}

.orderOnline__menu-dropdown .orderOnline__menu-dropdown_button {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    background-color: var(--color-white);
}

.orderOnline__menu-dropdown_button:hover {
    opacity: 0.5;
}


/* Adding position and style for overlay menu */

.orderOnline__menu-dropdown_overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    min-width: 100%;
    max-width: 100%;
    margin-left: 3px;
    will-change: transform;
    transform: translate3d(-1px, 40px, 0px);
    background-color: var(--color-white);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 0 4px 0 rgba(0, 0, 0, .1);
}

.orderOnline__menu-dropdown_overlay_button {
    padding: 12px 0;
}

.orderOnline__menu-dropdown_overlay_button button {
    background-color: rgba(0, 0, 0, 0.12);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}


/* Adding position and style for empty div */

.app__orderOnline-content-menu_dropdown .orderOnline__menu-empty_div {
    height: 32px;
    width: 1px;
    background-color: rgba(16, 132, 111, 0.2);
    margin: 0 20px;
}


/* Adding position and style for sub menu nav bar items */

.app__orderOnline-content-menu_nav {
    flex: 1;
    display: flex;
}

.orderOnline__menu-nav {
    min-height: 100%;
    width: 100%;
    padding: 10px 0;
    position: relative;
}


/* Adding position and style for menu cart  */

.app__orderOnline-content-menu_cart {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}

.app__orderOnline-content-menu_cart:hover {
    opacity: 0.5;
}


/* Adding position and style for menu list */

.app__orderOnline-content-menu {
    margin: 40px 0;
}

.orderOnline__content {
    list-style: none;
}

.orderOnline__content .orderMenu__title {
    font-size: 25px;
    font-weight: 500;
}

.orderOnline__content-menu_nigiri,
.orderOnline__content-menu_maki,
.orderOnline__content-menu_laijtelma,
.orderOnline__content-menu_food,
.orderOnline__content-menu_drink {
    margin-top: 25px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* Adding style and position for order online page icons */

.orderOnline__icons {
    font-size: 27px;
}


/* The style and size for diffent screen dimension */

@media screen and (max-width: 1150px) {
    .orderOnline__menu-dropdown {
        min-width: 130px;
    }
}

@media screen and (max-width: 850px) {
    .app__orderOnline-content-subNav_menu .p__normal-text {
        font-size: 13px;
    }
    .orderOnline__icons {
        font-size: 24px;
    }
}

@media screen and (max-width: 650px) {
    .orderOnline__header {
        height: 100px;
    }
    .app__orderOnline-content-subNav_menu .p__normal-text {
        font-size: 12px;
    }
    .orderOnline__menu-dropdown {
        min-width: 80px;
    }
    .app__orderOnline-content-menu_dropdown .orderOnline__menu-empty_div {
        margin: 0 10px;
    }
    .app__orderOnline-content-menu_dropdown {
        padding-left: 10px;
    }
    .orderOnline__icons {
        font-size: 20px;
    }
    .app__orderOnline-content-header {
        margin: 20px 0 10px 0;
    }
    .orderOnline__content .orderMenu__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 450px) {
    .app__orderOnline-content-subNav_menu .p__normal-text {
        font-size: 8px;
    }
    .subMenuNav__smallscreen-dropdown_overlay {
        padding: 5px;
    }
    .orderOnline__icons {
        font-size: 18px;
    }
    .app__orderOnline-content-pickup_time {
        padding: 6px 10px;
    }
}